<!DOCTYPE html>
<html>
<head>
  <title>Application Accepted</title>
</head>
<body>
  <h1>Bonjour <%= @ambassador.first_name %> <%= @ambassador.last_name %>, félicitations ! <%=  %> </h1>
  <p>Nous avons le plaisir de vous informer que votre candidature pour le poste d'ambassadeur a été acceptée ! Bienvenue à bord !.</p>
  <p>
   Votre enthousiasme et votre dévouement nous ont vraiment impressionnés, et nous sommes impatients de vous accueillir dans notre équipe.
   Ensemble, nous entreprendrons des initiatives passionnantes et aurons un impact positif.
  </p>

    <p>
    Dans les prochains jours, nous vous fournirons de plus amples informations sur votre rôle et les prochaines étapes à suivre.
     Si vous avez des questions ou avez besoin d'assistance, n'hésitez pas à nous contacter.
    </p>

    <p>
        Encore une fois, félicitations ! Nous sommes impatients de commencer ce voyage ensemble. <br>
        Veuillez nous contacter en utilisant le lien ci-dessous.
    </p>

    <a href="https://rdc145territoires.com/Contact">rdc145territoires</a>

    <p>Support team Rdc145TerritoresAdmin</p>
</body>
</html>
