<h1>Bonjour <%= @ambassador.first_name %> <%= @ambassador.last_name %> </h1>
<p> Juste pour confirmer que nous avons reçu votre candidature pour le poste d'<%= @ambassador.position %> ( <%= @ambassador.territoire %>) </p>
<p>Merci pour votre confiance! Nous vous contacterons très bientot.</p>
<p>Prennez bien soin de vous!</p>
