<div class="container d-flex flex-column mt-3 custom-margin-form">
    <div class="d-flex justify-content-end gap-1">
     <%= link_to "Edit this participant", edit_participant_path(@participant)  ,class: "btn btn-secondary custom-button"%> |
     <%= link_to "Back to participants", participants_path,class: "btn btn-secondary custom-button"%>
    </div>
    <div>
       <%= render @participant %>
    </div>
    <div>
      <%= button_to "Destroy this participant", @participant, method: :delete ,class: "btn btn-danger custom-button mt-4  float-end"%>
    </div>

</div>