<div class="d-flex flex-column  container">
  <div>
      <h1>New Sponsor</h1>
  </div>
  <div class="d-flex justify-content-end">
   <%= link_to "Back to sponsors", sponsors_path, class: "btn btn-secondary custom-button"%>
  </div>
  <div>
     <%= render "form", sponsor: @sponsor %>
  </div>
</div>