<h1>Editing ambassador</h1>

<%= render "form", ambassador: @ambassador %>

<br>

<div>
  <%= link_to "Show this ambassador", @ambassador %> |
  <%= link_to "Back to ambassadors", ambassadors_path %>
</div>
