/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import 'bootstrap';
.custom-button{
    font-size: 16px; 
    font-weight: bold; 
    color: white;
    font-family: 'ubuntu', sans-serif;
  }
// login
  .custom-font{
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
    
  }

  .submit-font{
    font-family: 'ubuntu', sans-serif; 
    font-weight: bold; 
    padding-bottom: 50px;
    margin-bottom: 60px;
   }

  .custom-margin{
    margin-top: 6rem;
  }



  body{
    background: #eee;
  }

  #side_nav{
    background: #000;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s ;
  }

  .content{
    min-height:100vh;
    width:100%;
  }

hr.h-color{
background:#eee;

}

.sidebar li.active{
  background: #eee;
  border-radius: 8px;
}

.sidebar li.active a,
 .sidebar li.active a:hover{
  color: #000;
}

.sidebar li a{
  color: #fff;
}

.sidebar li a:hover{
  color: #fff;
  background-color: #4a47eb;
  border: 10px;
}

.sidebar li a.active{
  color: #fff;
  background-color: #4a47eb;
}

@media(max-width: 767px) {
  #side_nav{
    margin-left: -250px;
    position: fixed;
    min-height: 100vh;
    z-index: 1;
  }

  #side_nav.active{
    margin-left: 0;
  }

  h1{
    position: relative;
  }


}


.btn-icon-text {
  position: relative;
  text-decoration: none;
}

.btn-icon-text .fa-icon {
  position: relative;
}

.btn-icon-text .fa-icon::after {
  content: attr(data-text); 
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translateX(-50%);
  opacity: 0;
  padding: 5px 10px;
  background-color: rgb(230, 230, 91); 
  color: #333;
  border-radius: 5px;
  transition: opacity 0.2s ease-in-out;
  white-space: nowrap;
  font-family: 'ubuntu', sans-serif;
  font-weight: bold;
  z-index: 1;
  
}

.btn-icon-text:hover .fa-icon::after {
  opacity: 1;
}