<p style="color: green"><%= notice %></p>
<div class="container">
<div class="d-flex flex-column gap-2 ">
  <div class="d-flex flex-column gap-4">
   <div >
    <h1 class="sponsor-head position-absolute top-0 mt-5 " >Provinces</h1>
   </div>
   <div class="d-flex justify-content-end">
    <%= link_to "New Province", new_province_path , class: "btn btn-secondary custom-button"%>
  </div>
  </div>

</div>
<div id="provinces">
  <% @provinces.each do |province| %>
    <%= render province %>
  <% end %>
</div>



