<div class="container d-flex flex-column mt-3 custom-margin-form">
    <div class="d-flex justify-content-end gap-2" style="margin-right:20px;" >
      <%= link_to  edit_province_path(@province), class: "btn btn-secondary custom-button btn-pencil btn-icon-text" do %>
        <i class="fas fa-pencil-alt fa-icon"  data-text="Edit Province"></i> 
        <span class="d-md-none">Edit This Province</span>
      <% end %> |
        <%= link_to provinces_path, class: "btn btn-secondary custom-button btn-icon-text" do %>
        <i class="fas fa-arrow-left fa-icon" data-text="Go Back"></i> 
        <span class="d-md-none">Back To Province</span>
      <% end %>
    </div>
    <div>
       <%= render @province %>
    </div>
    <div>
      <%= button_to @province, method: :delete, class: "btn btn-danger custom-button mt-4 float-end btn-icon-text ",style:"margin-right:20px;" do %>
        <i class="fas fa-trash-alt fa-icon"  data-text="Delete"></i> 
        <span class="d-md-none">Destroy Province</span>
      <% end %>
    </div>

</div>