<div class="container-fluid">
    <div class="row flex-nowrap">
    <div class="bg-dark col-auto col-md-2 min-vh-100">
        <div class="bg-dark p-2">
            <a class="d-flex text-decoration-none mt-1 align-items-center text-white">
               <span class="fs-4 d-none d-sm-inline">SideMenu</span>
        
            </a>
            <nav class="nav nav-pills flex-column mt-4">
               <li class="nav-item">
                    <a href="#" class="nav-link text-white" >
                    <i class="fs-5 fa fa-guage"></i> <span class="fs-4 d-none d-sm-inline">Dashboard</span>
                    </a>
                </li>
               <li class="nav-item">
                     <a href="#" class="nav-link text-white" >
                    <i class="fs-5 fa fa-house"></i> <span class="fs-4 d-none d-sm-inline">Home</span>
                    </a>
                </li>
               <li class="nav-item ">
                    <a href="#" class="nav-link text-white" >
                    <i class="fs-5 fa fa-table-list"></i> <span class="fs-4 d-none d-sm-inline">Artical</span>
                    </a>
                </li>
               <li class="nav-item ">
                    <a href="#" class="nav-link text-white" >
                    <i class="fs-5 fa fa-table-list"></i> <span class="fs-4 d-none d-sm-inline">Artical</span>
                    </a>
                </li>
            </nav>
            </div>
        </div>
    </div>
</div>
